<p>New Rental Request</p>
<%= form_for @rental do |f| %>
<%= f.label :item_id %>
<%= f.number_field :item_id %>
<%= f.label :start_date %>
<input type="date" name="rental[start_date]" id="rental_start_date" class="datepicker">
<%= f.label :end_date %>
<input type="date" name="rental[end_date]" id="rental_end_date" class="datepicker">
<%= f.label :status %>
<%= f.text_field :status %>
<%= f.label :user_id %>
<%= f.number_field :user_id %>
<%= f.submit %>
<% end %>
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>
