<h1>Homes#new</h1>
<%= form_for @home do |f| %>
<%= f.label :street %>
<%= f.text_field :street %>
<%= f.label :city %>
<%= f.text_field :city %>
<%= f.label :state%>
<%= f.text_field :state%>
<%= f.label :zipcode %>
<%= f.text_field :zipcode %>
<%= f.label :latitude %>
<%= f.text_field :latitude %>
<%= f.label :longitude %>
<%= f.text_field :longitude %>
<%= f.submit %>
<% end %>