<!DOCTYPE html>
<html>
<head>
  <title>LoanItToMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Flash Notices -->
<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <div class="error"><%= msg %></div>
  <% end %>
<% end %>

<!-- Login / Logout Form -->
<% if current_user %>
  <%= link_to current_user.username, user_url(current_user) %>
  <%= button_to "Log Out", session_url, method: :delete %>
<% else %>
  <%= render "layouts/login" %>
<% end %>


<%= yield %>

</body>
</html>
